@model IEnumerable<KeyValuePair<string, string>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HTML Converter</h1>
</div>
<div>
    <p>Converter supports the following commands:</p>
    <ul>
        <li>Convert MD to PDF</li>
        <li>Convert MD to HTML</li>
    </ul>    
</div>
